*.a
*.so
*.o
*.nc
pnetcdf/src/libf/*.c
Makefile
!libdtf/Makefile
pnetcdf/autom4te.cache/
pnetcdf/config.log
pnetcdf/config.status
pnetcdf/configure
pnetcdf/macros.make
pnetcdf/man/pnetcdf.3
pnetcdf/man/pnetcdf_f77.3
pnetcdf/man/pnetcdf_f90.3
pnetcdf/src/lib/attr.c
pnetcdf/src/lib/bput.c
pnetcdf/src/lib/convert_swap.c
pnetcdf/src/lib/getput.c
pnetcdf/src/lib/i_getput.c
pnetcdf/src/lib/i_varn.c
pnetcdf/src/lib/m_getput_varx.c
pnetcdf/src/lib/ncconfig.h
pnetcdf/src/lib/ncconfig.h.in~
pnetcdf/src/lib/ncx.c
pnetcdf/src/lib/pnetcdf.h
pnetcdf/src/lib/pnetcdf.pc
pnetcdf/src/lib/varn.c
pnetcdf/src/libcxx/pnetcdf
pnetcdf/src/libf/mpifnetcdf.h
pnetcdf/src/libf/nfconfig.inc
pnetcdf/src/libf/nfconfig_inc
pnetcdf/src/libf/pnetcdf.inc
pnetcdf/src/libf90/api.f90
pnetcdf/src/libf90/getput_text.f90
pnetcdf/src/libf90/getput_var.f90
pnetcdf/src/libf90/getput_vard.f90
pnetcdf/src/libf90/getput_varn.f90
pnetcdf/src/libf90/nfmpi_constants.f90
pnetcdf/src/libf90/pnetcdf.f90
pnetcdf/src/libf90/pnetcdf.mod
pnetcdf/src/utils/ncmpidiff/ncmpidiff
pnetcdf/src/utils/ncmpidump/ncmpidump
pnetcdf/src/utils/ncmpigen/ncmpigen
pnetcdf/src/utils/ncmpivalid/ncmpivalid
pnetcdf/src/utils/ncoffsets/ncoffsets
pnetcdf/src/utils/pnetcdf_version/pnetcdf_version
pnetcdf/stamp-h
pnetcdf/test/nf_test/tests.inc
